
#whole h1{
  text-align: center;
}
#images {
  display: flex;
  flex-direction: row;
}
#images .images1 img{
  width: 300px;
  height: 300px;
  padding: 70px;
}

#images .images2 img{
  width: 400px;
  height: 300px;
  padding: 70px;
}

#images .images3 img{
  width: 300px;
  height: 300px;
  padding: 70px;
  
  
}

.wrapper {
  width: 500px;
  margin: 10px auto;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #fff;
  padding: 20px;
 
}

.comment-user{
  padding-left: 20px;
  display: flex;
  flex-direction:row;
  font-weight: light;
  font-style: italic;
}

.comment-field-input textarea{
  width: 200px;
  height: 40px;
  
}
.comment-field-button button{
  font-weight: bold;
}

