
#whole{
  overflow: hidden;
  padding: 10px;
  padding-right: 10px;
}
#whole h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#images {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#images .image img{
  
  width: 300px;
  height: 300px;
  padding: 60px;
  padding-left: 10px;
}


#images .image img{
  width: 400px;
  height: 300px;
  padding: 60px;
  padding-left: 0px;
}

#images .image img{
  width: 300px;
  height: 300px;
  padding: 60px;
  padding-left:50px;
  
}

.image{
  width: 32%;
}

.wrapper {
  width: 500px;
  margin: 10px auto;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #fff;
  padding: 20px;
 
}

.comment-user{
  padding-left: 20px;
  display: flex;
  flex-direction:row;
  font-weight: light;
  font-style: italic;
}

.comment-field-input textarea{
  width: 400px;
  height: 40px;
}
.comment-field-button button{
  font-weight: bold;
}

.list{
  border: solid 1px gray;
  width: 400px;
  height: 500px;
}

